<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-UINavigationControllerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC25237F1C83DEB700CF565F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC2523981C83DEB700CF565F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC2523A31C83DEB700CF565F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
