<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>02-UISearchControllerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCD3BE481C8E7A700078A11B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCD3BE611C8E7A700078A11B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCD3BE6C1C8E7A700078A11B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
