<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-UISearchBarDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC8CEFED1C8E6755009A3034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC8CF0061C8E6755009A3034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC8CF0111C8E6755009A3034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
