<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-NsthreadDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC515AF81CA6378D008CF5B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC515B111CA6378E008CF5B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC515B1C1CA6378E008CF5B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
