<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>05-断点续传.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCBC76F61CA3CFE6009FBB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCBC770F1CA3CFE7009FBB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCBC771A1CA3CFE7009FBB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
