<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-沙盒.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC695BF41CA8C90400E3A0AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC695C0D1CA8C90400E3A0AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC695C181CA8C90400E3A0AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
